  <!--Simple footer: -->
  <footer>
    <div class="footer_contenedor-links">
        <a href="#" class="footer-menu-links">
            <span>Guía de uso de plataforma</span>
        </a>
        <a href="#" class="footer-menu-links">
            <span>Reportar errores</span>
        </a>
        <a href="#" class="footer-menu-links">
            <span>Aportar ideas</span>
        </a>
        <a href="#" class="footer-menu-links">
            <span>Quienes somos</span>
        </a>
    </div>
    <div class="footer-logo">
        <img src="./public/images/transfo-logo-footer-desktop.png" alt="transfo logo">
    </div>
</footer>