<nav class="header">
    <header class="header-container">
        <a href="#" class="nav-logo">
            <img src="./public/images/transfo-logo-header-desktop.png" alt="transfo logo">
        </a>
        <!-- <div class="nav-tab">
            <a href="#" class="nav-item active">+</a>
            <a href="#" class="nav-item">+</a>
            <a href="#" class="nav-item">+/a>
        </div> -->
        <div class="nav-login">
            <img src="./public/icons/user-gear.svg" alt="User">
            <!-- <p>Welcome back <span class="username">Ignacio</span></p>
            <a href="#" class="login-link">Logout</a> -->
        </div>
    </header>
</nav>