<aside class="sidebar">
    <div class="sidebar-header">
        <p>Menu</p>
    </div>
    <div class="sidebar-menu">
        <a href="#" class="sidebar-menu-icons">
            <img src="./public/icons/message-bot.svg" alt="Bot">
            <span class="sidebar-menu-hover" id="hoverHelpDialog">Coach virtual</span>
        </a>
        <a href="#" class="sidebar-menu-icons">
            <img src="./public/icons/bullseye-arrow.svg" alt="Objectives">
            <span class="sidebar-menu-hover">Objetivos</span>
        </a>
        <a href="#" class="sidebar-menu-icons">
            <img src="./public/icons/puzzle-alt.svg" alt="Functions">
            <span class="sidebar-menu-hover">Funciones</span>
        </a>
        <a href="#" class="sidebar-menu-icons">
            <img src="./public/icons/ballot-check.svg" alt="Roles">
            <span class="sidebar-menu-hover">Roles</span>
        </a>
        <a href="#" class="sidebar-menu-icons">
            <img src="./public/icons/users.svg" alt="People HR">
            <span class="sidebar-menu-hover">Personas</span>
        </a>
        <a href="#" class="sidebar-menu-icons">
            <img src="./public/icons/chart-tree.svg" alt="User">
            <span class="sidebar-menu-hover">Procesos</span>
        </a>
    </div>
</aside>